<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
  </head>
  <body>
    <h1>Main Page</h1>
    <h2>Endpoints Information:</h2>
    <ul>
      <li>Users List: <a href="/user/">View Users List</a></li>
      <li>User Profile: /users/:id</li>
      <li>Create User: <a href="/user/create/">Create New User</a></li>
      <li>Delete User: /user/:id/delete/</li>
      <li>Get Cookie: /cookie/get/:cookieTitle/</li>
      <li>Set Cookie: /cookie/set?cookieTitle=cookieTitle&cookieValue=cookieValue/</li>
      <li>Get Header User: /header/get/:headerTitle/</li>
      <li>Set Header: /header/set?headerTitle=headerTitle&headerValue=headerValue/</li>
    </ul>
  </body>
</html>
